.custom-card {
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Move content slightly to the top */
  flex-direction: column; /* Stack icon and title vertically */
  position: relative;
  text-align: center;
  overflow: hidden; /* Ensures content doesn’t overflow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-top: 20px; /* Adjust padding to control vertical positioning */
}

.custom-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.custom-card-link {
  text-decoration: none;
  color: inherit;
}

.custom-card-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure header takes full width */

}

.custom-card-image {
  max-width: 100%;
  height: auto;
}

.custom-card-content {
  padding: 15px;
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center; /* Align icon and title in the center */
  margin-bottom: 30px;
}

.icon-container {
 
  font-size: 100%; /* Adjust this value to increase or decrease icon size */
  color: #800000;
  margin-bottom: 5px; /* Space between icon and title */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Auto width to match the icon size */
  height: auto; /* Auto height to match the icon size */
}

.custom-card-title {
  font-size: 22px;
  color: black !important; /* Force black text */
  font-weight: bold;
  z-index: 999; /* Ensure it's not hidden behind other elements */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



