.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.profile-card {
    background-color: rgba(255, 255, 255, 0.5); /* Adds a semi-transparent background to the form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow to the form container */
  max-width: 420px;
  width: 100%;
}



.user-role {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 10px;
}

.profile-body {
    padding: 10px;
   

}

.profile-body h3 {
    font-size: 18px;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: bold;
}

.form-control[disabled] {
    background-color: #e9ecef;
    color: #495057;
    cursor: not-allowed;
}

.profile-actions {
    text-align: center;
    margin-top: 20px;
}


.profilebuttons {
    background-color: #052659;
    border-color: #052659;
    color: white;
    margin-top: 20px;
  }
  
  .profilebuttons:focus,
  .profilebuttons:hover {
    background-color: #005b96;
    border-color: #005b96; 
    color: white;
  }