.dropdown-row {
    padding: 10px 0;
  }
  
  .dropdown-row label {
    margin-right: 40px; /* Space between the label and the dropdown */
    font-weight: bold;
  }
  
  .dropdown-row select {
    margin-right: 20px; /* Space between the two dropdowns */
  }
  .title
  {
    margin-right: 40px; /* Space between the label and the dropdown */
    font-weight: bold;
  }
  
  table {
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .view-button {
    background-color: #052659;
    border-color: #052659;
    color: white;
    width:100px;
    border-radius:5px;
    margin-left: 15px;
    padding: 3px; /* Adjust padding for the button */
    margin-top: 10px;

  }
  
  .view-button:focus,
  .view-button:hover {
    background-color: #005b96;
    border-color: #005b96; 
    color: white;
  }
  .moreDetails-button {
    background-color: rgb(0, 80, 0);
    border-color: rgb(0, 80, 0);
    color: white;
    width: 100px;
    border-radius: 5px;
    margin-left: 15px;
    padding: 3px; /* Adjust padding for the button */
    margin-top: 10px;
    cursor: pointer; /* Add pointer cursor for better UX */
}

.moreDetails-button:hover {
    background-color:rgb(27, 134, 27); /* Darker green on hover */
    border-color: rgb(27, 134, 27);
    color: white; /* Change text color if needed */
}

   /* Css for Review Criteria */

   .Submitcriteria {
    background-color: #052659;
    border-color: #052659;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    width: 100px;
}

.Submitcriteria:focus,
.Submitcriteria:hover {
    background-color: #005b96;
    border-color: #005b96;
    color: white;
}

.upload-box {
    border: 2px dashed #cccccc;
    padding: 20px;
    cursor: pointer;
    background-color: #f9f9f9;
    width: 100%; /* width of the upload column */
}

.view-box {
    width: 100%; /* adjust width for the view box */
}

/* Increase the width of the 'View Criteria' column */
.view-criteria-header {
    width: 50%; /* increase the width of the column header */
    overflow-x: hidden;
}
/* Centering text inside the upload box */
.dropzone2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Set a fixed height */
  text-align: center;
  background-color: #f9f9f9;
}

.dropzone2 p {
  margin: 0;
  color: #666;
}
.file-item {
  margin: 10px 0; /* Spacing between file items */
}

.file-link {
  text-decoration: none; /* Remove underline from links */
  color: #000;
}

.file-card {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Add some padding */
  border: 5px solid #f8f9fa; /* Border styling */
  border-radius: 5px; /* Rounded corners */
  background-color: #c1ceda; /* Light background color */
  transition: background-color 0.3s; /* Smooth transition */
  width: 100%;
}

.file-card:hover {
  background-color: #e9ecef; /* Change background on hover */
}

.file-icon {
  
  margin-right: 10px; /* Space between icon and text */
  color:#2B579A; /* Color of the icon */
}




 

/* Css for Order Application (Secretary) */

  .select-button{
    background-color: #136113;
    border-color: #136113;
    color: white;
    margin-left: 15px;
    border-radius: 5px;
    height: 35px;
    width: 90px;
  }

  .select-button:focus,
  .select-button:hover {
  background-color:#18392B;
  border-color: #18392B; 
  color: white;
}
.unselect-button{
  background-color: #cf150ece;
  border-color: #cf150ece;
  color: white;
  margin-left: 15px;
  border-radius: 5px;
  height: 35px;
  width: 90px;
}

 .unselect-button:focus,
 .unselect-button:hover {
  background-color: #5c162e;
  border-color: #5c162e; 
  color: white;
}




/* Css for Request Agreement (Director) */

.uploadRequest_button {
  background-color: #052659;
  border-color: #052659;
  color: white;
  width:70px;
  border-radius:8px;
  margin-left: 8px;

}
.uploadRequest_button:focus,
.uploadRequest_button:hover {
  background-color: #005b96;
  border-color: #005b96; 
  color: white;
}
/* Css for Request Progress Report (Director) */

.Email-button{
  background-color: #052659;
  border-color: #052659;
  color: white;
  width:100px;
  height: 30px;
  border-radius:5px;
  margin-left: 10px;
}
.Email-button:focus,
.Email-button:hover {
  background-color: #005b96;
  border-color: #005b96; 
  color: white;
}


.btn-approved{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #136113;
  border-color: #136113;
  color: white;
  border-radius: 5px;
  height: 30px;
}

.btn-rejected{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #cf150ece;
  border-color: #cf150ece;
  color: white;
  border-radius: 5px;
  height: 30px;
}

.Reviewer{
  text-align: center;
  font-weight: bold;
}

/* Page Title for URC Director and Secretary */
.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Shortlisted Application (Approved Applications URC Directory and Secretory) */ 
.granted-button {
  background-color: rgb(3, 79, 3);
  border-color: rgb(3, 79, 3);
  color: white;
  width:90px;
  height: 30px;
  border-radius:5px;
  margin-left: 10px;
}

.not-granted-button {
  background-color: red;
  border-color: red;
  color: white;
  width:90px;
  height: 30px;
  border-radius:5px;
  margin-left: 10px;
}

.select-unselect-button {
  background-color: #052659;
  border-color: #052659;
  color: white;
  width:90px;
  height: 30px;
  border-radius:5px;
  margin-left: 10px;
}

.select-unselect-button:hover {
  background-color: #005b96;
  border-color: #005b96; 
  color: white;
}
.granted_deny{
  width: 20%;
  margin-left: 25px;
  
}

.granted_deny:last-child {
  margin-right: 20; /* Removes margin from the last button */
}
.modaltitle{
  font-weight: bold;
}
.Grant_Application{
  background-color: #052659;
  border-color: #052659;
  color: white;
  border-radius:5px;
  margin-left: 10px;
}
.Grant_Application:hover {
  background-color: #005b96;
  border-color: #005b96; 
  color: white;
}
.modal {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between buttons */
 
}
.marks-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Add spacing between the label and the button */
}

.marks-label {
  display: flex; /* Enable flexbox */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  margin-top: 10px;
  margin-left: 10px;
  background-color: green;
  border-color: Green;
  color: white;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px; /* Optional: Add padding for spacing around text */
  text-align: center; /* Ensure text alignment */
  font-weight: bold; /* Make the text bold for better visibility */
}



.action-button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.Shortlisted-button
{
  background-color: rgb(3, 79, 3);
  border-color: rgb(3, 79, 3);
  color: white;
  width:90px;
  height: 30px;
  border-radius:5px;
  margin-left: 10px;
}
.Reject-button{
  background-color: red;
  border-color: red;
  color: white;
  width:90px;
  height: 30px;
  border-radius:5px;
  margin-left: 10px;
}