.evaluation-section .download-section .criteria-section,
.evaluation-section .download-section .marks-section {
margin-bottom: 20px; /* Add some space between sections */
}

.criteria-section {
margin-bottom: 20px; /* Space between the Download and Upload sections */
display: flex;
align-items: center;  /* Align label and button in a row */
}

.criteria-section label {
margin-right: 15px; /* Add space between the label and the download button */
}

.download-button {
    background-color: #052659;
    border-color: #052659;
    color: white;
    width:100px;
    border-radius:5px;
    margin-left: 15px;
    padding: 3px; /* Adjust padding for the button */
    margin-top: 10px;
}

.download-button:hover
.download-button:focus {
    background-color: #005b96;
    border-color: #005b96; 
    color: white;
}

.upload-section {
margin-top: 20px; /* Add space above the upload section */
display: flex;
align-items: center; /* Align label and input horizontally */
}

.upload-section label {
margin-right: 15px; /* Add space between label and file input */
}

.upload-section input[type="file"] {
padding: 8px;
font-size: 16px;
}

.evaluation-section {
margin-top: 20px; /* Existing margin above */
margin-bottom: 30px; /* Add margin below the evaluation section */
}


.dpage-title {
text-align: center;
font-weight:bold;
font-size: 1.5em;
margin-bottom: 20px;
}
.reviewer_title{
text-align: center;
font-weight:bold;
font-size: 1.5em;
margin-bottom: 20px;
}

label {
font-weight: bold;
}

.marks-section {
margin-top: 20px;
display: flex;
align-items: center;  /* Align label, input, and button vertically */
}

.marks-section label {
margin-right: 15px;  /* Add space between the label and the input */
}

.marks-input {
width: 150px;  /* Adjust width of the textbox */
padding: 8px;  /* Padding inside the textbox */
font-size: 16px;  /* Font size for the text */
border: 1px solid #ccc;  /* Light border around the textbox */
border-radius: 4px;  /* Slightly rounded corners */
margin-right: 20px;  /* Add space between the textbox and button */
}

.marks-input:focus {
outline: none;
border-color: #007bff;  /* Blue border when focused */
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  /* Soft blue glow */
}

.submit-button {
    background-color: #052659;
    border-color: #052659;
    color: white;
    width:100px;
    border-radius:5px;
    margin-left: 15px;
    padding: 3px; /* Adjust padding for the button */
    margin-top: 10px;
}

.submit-button:hover
.submit-button:focus {
    background-color: #005b96;
    border-color: #005b96; 
    color: white;
}

.submit-button:active {
background-color: #004085;  /* Even darker blue when clicked */
}

.criteria-section p {
margin-bottom: 2px; /* Add some space below the sentence */
font-size: 15px; /* Adjust font size if necessary */
color: #fa0606; /* Change color if needed */
}